湡潮慴整ⵤ祴数㵳〽㜮〮愊祮潩㴽⸴㌱〮愊瑴獲㴽㘲ㄮ〮戊慥瑵晩汵潳灵㴴㐽ㄮ⸴ਲ਼汢湩敫㵲ㄽ㤮〮挊牥楴楦㴽〲㘲㈮㈮ਵ晣楦㴽⸲⸰ਰ档牡敳⵴潮浲污穩牥㴽⸳⸴ਵ汣捩㵫㠽㌮ㄮ挊汯牯浡㵡〽㐮㘮搊瑯湥㵶〽㤮㤮䘊慬歳㴽⸳⸱ਲ਼敧杯慲桰捩楬㵢㈽ㄮ朊潥祰㴽⸲⸴਱牧敥汮瑥㴽⸳⸴ਰㅨ㴱〽ㄮ⸶ਰ瑨灴潣敲㴽⸱⸰ਹ瑨灴㵸〽㈮⸸਱摩慮㴽⸳ㄱ椊獴慤杮牥畯㵳㈽㈮〮䨊湩慪㴲㌽ㄮ㘮洊牡摫睯⵮瑩瀭㵹㐽〮〮䴊牡畫印晡㵥㌽〮㌮洊畤汲㴽⸰⸱ਲ潮業慮楴㵭〽ㄮ渊浵祰㴽⸲⸴਴汯慬慭㴽⸰⸶਱畯捴浯㵥ㄽ㌮〮瀮獯ぴ瀊湡慤㵳㌽〮㈮瀊慬睹楲桧㵴ㄽ㔮⸸ਰ祰灣牡敳㵲㌽〮瀊摹湡楴㵣㈽ㄮ⸲ਵ祰慤瑮捩损牯㵥㈽㐮⸱ਵ祰敥㴽㌱〮ㄮ倊杹敭瑮㵳㈽㈮⸰ਰ祐潓正㵳ㄽ㜮ㄮ瀊呹汥来慲䉭瑯偁㵉㐽㌮⸲ਰ祰桴湯搭瑡略楴㵬㈽㤮〮瀮獯ぴ瀊瑹潨⵮潤整癮㴽⸱⸲ਲ敲畱獥獴㴽⸲㈳㔮爊捩㵨ㄽ⸴⸳ਲ਼敳敬楮浵㴽⸴㌴〮猊硩㴽⸱㜱〮猊楮晦潩㴽⸱⸳਱潳瑲摥潣瑮楡敮獲㴽⸲⸴ਰ潳灵楳癥㵥㈽㠮㌮琊汥扥瑯㴽⸰⸰ਵ牴潩㴽⸰㌳〮琊楲ⵯ敷獢捯敫㵴〽ㄮ⸲ਲ祴楰杮椭獮数瑣潩㵮〽㐮㈮琊灹湩彧硥整獮潩獮㴽⸴㔱〮琊摺瑡㵡㈽㈰⸶਱牵汬扩㴳㈽㘮㌮眊扥潳正瑥挭楬湥㵴ㄽ㤮〮圊牥穫略㵧㌽ㄮ㜮眊灳潲潴㴽⸱⸳ਲ
python-dateutil
pytelegrambotapi
playwright